* {
        font-family: Baskerville, Futura, Garamond;
    font-size: 18px;
}
div
{
    border-radius: 10px;
 border: 3px ridge gray;   
    color: white;
 margin:0 auto;
 width :90%;   
    background-color: slateblue ;
}
label{
    padding: 0px 60px 0px 40px;
    width:120px;
    display: inline-block;
}
input
{
    width: 170px;
    padding: 5px;
}
.submit{
    margin: 20px;
    width: 120px;
    border-radius: 10px;
}
.reset{
    width: 120px;
    border-radius: 10px;
}

