/* p
{ */
    /* color: aqua; */
/* 
} */

/* .overflow
{
    max-width: 200px;
    max-height: 200px;
    border:2px solid red; */
    /* overflow: hidden */
    /* overflow: visible; */
/* overflow: auto; */
/* overflow: scroll;
} */
/* .image
{
    float: right;
float: left;
float: inherit;
margin-left: 20px;
margin-right: 20px;

}
p
{
    max-width: 400px;
} */
/* img{
    width:30.33%;
    float: left;
    padding-left: 40px;
    opacity: 0.5;
}
img:hover{
    opacity:1;
} */



/* 
ul{
    list-style-type: none;

}
li{
    width: 10%;
    float: left;
}
li >a{
    color: brown;
    text-decoration: none;

}
.navbar,.home
{
    background-color:green;
} */

/* .vertical
{
 width: 100%;
 background-color:firebrick;   
 
}
ul
{
    list-style-type: none;
}
li >a{ 
    display: block;
    list-style-type: none;
    color: white;
text-decoration: none;

}
.alpha
{
    min-width: 100%;
    background-color: green;
} */
/* .horizontal
{
    background-color: black;
    height: 40px;
}
ul{
    list-style-type: none;
    /* padding-top: 10px; */
    /* float: right;


}
li
{
    display: inline-block;
}
li>a
{
    padding-left: 20px;

    text-decoration: none;
    color: whitesmoke;
} */
/* ul~li{
    background-color: green;
} */
/* ul li a.aa
{
    background-color: green;

} */
/* .aa:hover
{
    background-color: green;
} */
/* 
.navbar
{
    background-color: black;
}
nav ul{
    display:inline-block;
    float:left;
} */

