.mainclass
{
    width: 99%;
    border: 0.1rem solid black;
    height: 5rem;
    margin-bottom: 2px;
}
.aside
{
    width: 20%;
    border: 0.1rem solid black;
    height: 30rem;
float:left;

}
.common
{
    width: 79%;
    border: 0.1rem solid black;
    height: 30rem;
    float: left;
}
.bar
{
    width:80%;
    border: 0.1rem solid black;
height: 8rem;
margin-left: 10%;
margin-top: 20px;
}

.left
{
    width:35%;
    border: 0.1rem solid black;
height: 18rem;
margin-left: 10%;
margin-top: 20px;
float:left;
}

.right
{

    margin-left: 10%;
    width:35%;
    border: 0.1rem solid black;
height: 18rem;
margin-top: 20px;
float:left;

}
.footer{
    width: 99%;
    height: 80px;
    border: 0.1rem solid black;
margin-top:30.5rem ;
}